body {
  margin: 0px;
  padding: 0px;
  font-family: 'Oxygen', sans-serif;
  background-color: #ecf0f1; }

nav {
  width: 100%;
  margin: 0 auto; }
  nav .navSocialLinks ul {
    list-style: none;
    display: flex; }
  nav .navSocialLinks li {
    margin-left: 20px;
    font-size: 24px; }
  nav .navSocialLinks a {
    text-decoration: none;
    color: #5b6566; }
  nav .navBgImg {
    width: 100%;
    height: 20vh;
    background-image: url("img/navBgImg.png");
    background-attachment: fixed; }
  nav .navUserImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 100px;
    margin-top: -80px;
    border: 5px solid #5b6566;
    background-image: url("img/avatar.jpg");
    background-size: 110% 100%;
    background-repeat: no-repeat; }
  nav .navUserName {
    margin: 0 auto;
    text-align: center;
    color: #5b6566;
    width: 40%; }
    nav .navUserName h2 {
      font-size: 28px; }
    nav .navUserName p {
      color: #7f8c8d; }
    nav .navUserName hr {
      height: 1px;
      border: 0px;
      width: 15%;
      background-color: #7f8c8d; }
    nav .navUserName .navUserNameText {
      margin: 0 auto;
      color: #7f8c8d;
      font-size: 32px;
      opacity: 0.2; }

.content {
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 20px; }
  .content .contentPhotosContainer {
    width: 70%;
    height: 100%;
    margin: 0 auto; }
    .content .contentPhotosContainer .contentPhotosLeft {
      float: left;
      opacity: 0;
      width: 45%;
      text-align: center; }
      .content .contentPhotosContainer .contentPhotosLeft h1 {
        color: #5b6566; }
      .content .contentPhotosContainer .contentPhotosLeft hr {
        height: 1px;
        border: 0px;
        width: 15%;
        background-color: #7f8c8d; }
      .content .contentPhotosContainer .contentPhotosLeft p {
        color: #7f8c8d; }
      .content .contentPhotosContainer .contentPhotosLeft input {
        background-color: #5b6566;
        border-radius: 4px;
        border: 1px solid #ecf0f1;
        padding: 10px;
        color: #ecf0f1;
        font-size: 18px; }
      .content .contentPhotosContainer .contentPhotosLeft .img {
        width: 50%;
        float: left;
        margin: 10px;
        box-shadow: 10px 10px 31px -3px rgba(0, 0, 0, 0.75);
        opacity: 0; }
    .content .contentPhotosContainer .contentPhotosRight {
      float: right;
      width: 45%;
      text-align: center; }
      .content .contentPhotosContainer .contentPhotosRight .imgExt {
        width: 80%;
        background-size: 80%;
        box-shadow: 10px 10px 31px -3px rgba(0, 0, 0, 0.75);
        opacity: 0; }

.contact {
  width: 100%;
  font-size: 20px; }
  .contact .contactContainer {
    width: 80%;
    margin: 0 auto;
    color: #7f8c8d;
    margin-top: 150px; }
    .contact .contactContainer a {
      text-decoration: none;
      color: #ecf0f1;
      display: block;
      width: 100%; }
    .contact .contactContainer .contactLeft {
      width: 45%;
      text-align: center;
      float: left;
      margin-top: 40px; }
      .contact .contactContainer .contactLeft .contactTileFb {
        width: 100%;
        text-align: justify;
        padding: 10px;
        margin: 10px;
        color: #ecf0f1;
        background-color: #3B5998; }
      .contact .contactContainer .contactLeft .contactTileIg {
        width: 100%;
        text-align: justify;
        padding: 10px;
        margin: 10px;
        color: #ecf0f1;
        background-color: #A93FA3; }
      .contact .contactContainer .contactLeft .contactTileMail {
        width: 100%;
        text-align: justify;
        padding: 10px;
        margin: 10px;
        color: #ecf0f1;
        background-color: #E05B4A; }
    .contact .contactContainer .contactRight {
      width: 45%;
      text-align: center;
      float: right; }
      .contact .contactContainer .contactRight hr {
        height: 1px;
        border: 0px;
        width: 15%;
        background-color: #7f8c8d; }
      .contact .contactContainer .contactRight h1 {
        color: #5b6566; }

footer {
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #ecf0f1;
  background-color: black;
  text-align: center;
  margin-top: 80px; }

@media screen and (max-width: 1000px) {
  .navUserName {
    font-size: 48px; }
    .navUserName h2 {
      font-size: 30px; }

  .navUserNameText {
    font-size: 48px; }

  .contentPhotosLeft {
    font-size: 36px; }

  .contactRight {
    font-size: 36px; }

  footer {
    font-size: 12px; } }

/*# sourceMappingURL=style.css.map */
