@mixin photos()
{
    width: 45%;
    text-align: center;
}
@mixin hr()
{
    height: 1px;
    border: 0px;
    width: 15%;
    background-color: $navUserLightColor;
}
@mixin img()
{
    width: 50%;
    float: left;
    margin: 10px;
    box-shadow: 10px 10px 31px -3px rgba(0,0,0,0.75);
}
@mixin imgExt()
{
    width: 80%;
    background-size: 80%;
    box-shadow: 10px 10px 31px -3px rgba(0,0,0,0.75);
}
@mixin contact()
{
    width: 45%;
    text-align: center;
}
@mixin contactTile()
{
    width: 100%;
    text-align: justify;
    padding: 10px;
    margin: 10px;
    color: $bodyColor;
}