@import "_variables.scss";
@import "_mixinsetc.scss";
body{margin: 0px; padding: 0px; font-family: 'Oxygen', sans-serif;background-color: $bodyColor;}
nav
{
    width: 100%;
    margin: 0 auto;
    .navSocialLinks
    {
        ul
        {
            list-style: none;
            display: flex;
        }
        li
        {
            margin-left: 20px;
            font-size: 24px;
        }
        a
        {
            text-decoration: none;
            color: $navUserDarkColor;
        }
    }
    .navBgImg
    {
        width: 100%;
        height: 20vh;
        background-image: url("img/navBgImg.png");
        background-attachment: fixed;
    }
    .navUserImg
    {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border-radius: 100px;
        margin-top: -80px;
        border: 5px solid $navUserDarkColor;
        background-image: url("img/avatar.jpg");
        background-size: 110% 100%;
        background-repeat: no-repeat;
    }
    .navUserName
    {
        margin: 0 auto;
        text-align: center;
        color: $navUserDarkColor;
        width: 40%;
        h2
        {
            font-size: 28px;
        }
        p
        {
            color: $navUserLightColor;
        }
        hr
        {
            @include hr();
        }
        .navUserNameText
        {
            margin: 0 auto;
            color: $navUserLightColor;
            font-size: 32px;
            opacity: 0.2;
        }
    }
}
.content
{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 20px;
    .contentPhotosContainer
    {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        .contentPhotosLeft
        {
            float: left;
            opacity: 0;
            @include photos();
            h1
            {
                color: $navUserDarkColor;
            }
            hr
            {
                @include hr();
            }
            p
            {
                color: $navUserLightColor;
            }
            input
            {
                background-color: $navUserDarkColor;
                border-radius: 4px;
                border: 1px solid $buttonColor;
                padding: 10px;
                color: $buttonColor;
                font-size: 18px;
            }
            .img
            {
                @include img;
                opacity: 0;
            }
        }
        .contentPhotosRight
        {
            float: right;
            @include photos();
            .imgExt
            {
                @include imgExt;
                opacity: 0;
            }
        }
    }
}
.contact
{
    width: 100%;
    font-size: 20px;
    .contactContainer
    {
        
        width: 80%;
        margin: 0 auto;
        color: $navUserLightColor;
        margin-top: 150px;
        a
        {
            text-decoration: none;
            color: $bodyColor;
            display: block;
            width: 100%;
        }
        .contactLeft
        {
            @include contact();
            float: left;
            margin-top: 40px;
            .contactTileFb
            {
                @include contactTile();
                background-color: #3B5998;
            }
            .contactTileIg
            {
                @include contactTile();
                background-color: #A93FA3;
            }
            .contactTileMail
            {
                @include contactTile();
                background-color: #E05B4A;
            }

        }
        .contactRight
        {
            @include contact();
            float: right;
            hr
            {
                @include hr();
            }
            h1
            {
                color: $navUserDarkColor;
            }
        }
    }
}
footer
{
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    color: $bodyColor;
    background-color: black;
    text-align: center;
    margin-top: 80px;
}
@media screen and(max-width:1000px)
{
    .navUserName
    {
        h2
        {
            font-size: 30px;
        }
        font-size: 48px;
    }
    .navUserNameText
    {
        font-size: 48px;
    }
    .contentPhotosLeft
    {
        font-size: 36px;
    }
    .contactRight
    {
        font-size: 36px;
    }
    footer
    {
        font-size: 12px;
    }
}
